{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #river-runner-map { height: 600px; width: 100%; }
    </style>
{% endblock %}

{% block body %}
  <section id="items">
    <div class="row">
      <div class="col-sm-12">
        <div id="river-runner-map"></div>
        <div id="items-map"></div>
      </div>
    </div>
   </section>
{% endblock %}

{% block extrafoot %}
<script>
var loading = false;
var map = L.map('river-runner-map', {maxZoom: 12}).setView([30, 0], 2);
map.addLayer(new L.TileLayer(
    '{{ config['server']['map']['url'] }}', {
        maxZoom: 18,
        attribution: '{{ config['server']['map']['attribution'] }}'
    }
));
var d = {
    "inputs": {
        "bbox": [77.73, 27.033, 78.27, 27.49]
    }
}
function onMapClick(e) {
    if (loading){ alert('Still loading flowpath.'); return } else { loading = true; }
    d.inputs = e.latlng;
    d.inputs.groupby = "nameid";
    d.inputs.sorted = "downstream";
    map.setView(e.latlng);
    send_request(d)
}
map.on('click', onMapClick);

function send_request(d){
    var popup = L.popup(keepInView=true)
        .setLatLng(d.inputs)
        .setContent('Finding flowpath from this point.')
        .openOn(map);
    $.ajax({
        type:"POST",
        url: "/processes/river-runner/execution",
        data: JSON.stringify(d),
        contentType: 'application/json; charset=UTF-8',
        processData: false,
        success: function(response) {
            popup.remove();
            loading = false;
            var geojson_data = response.value;
            if (response.code !== 'success'){
                alert('Server Error: ' + response.description);
            } else if (geojson_data.features.length === 0){
                alert('No flowpath found. :(')
            } else {
                var items = new L.GeoJSON(geojson_data, {
                    onEachFeature: function (feature, layer) {
                        var url = "/collections/merit/items/" + feature.id + '?f=html';
                        var html = '<span><a href="' + url + '">' + feature.properties.nameid + '</a></span>';
                        layer.bindPopup(html);
                    },
                    style: function(feature){
                        var r = Math.floor(Math.random() * 255);
                        var g = Math.floor(Math.random() * 255);
                        var b = Math.floor(Math.random() * 255);
                        var color = "rgb("+r+" ,"+g+","+ b+")"
                        return {
                        weight: 3,
                        opacity: 1,
                        color: color,
                        };
                    }
                });
                map.addLayer(items);
                map.fitBounds(items.getBounds());
            }
        },
        error: function(error) {
            console.log(error)
        },
    });
}
var d = JSON.parse('{{ {"inputs": data} | to_json | safe }}')
if (Object.keys(d.inputs).length !== 0){
    if (d.inputs.f !== 'jsonld'){
        send_request(d);
    }
}
</script>

{% endblock %}